joblib
numpy
pandas
pyarrow
scipy
scikit-learn
torch
transformers==4.57.1
tokenizers==0.22.1
huggingface-hub<1.0
safetensors
sentencepiece
biopython

# Dataset + Spark tooling used in this project
delta-spark<4.0
findspark
gdown
json2schema
oauth2client
py4j
pydrive2
pyspark<4.0
